.header {
  background-color: darkcyan;
  display: grid;
  justify-content: center;
  padding: 10px;
}
.form {
  position: relative;
}
.input {
  padding: 5px 5px 5px 25px;
  width: 170px;
  background-color: silver;
  color: black;
  border: solid 1px black;
  border-radius: 5px;
  box-shadow: 1px darkgrey;
  outline: none;
  &:focus {
    outline: solid 1px lightblue;
  }
}
.button {
  border: none;
  display: block;
  border-radius: 50%;
  background: none;
  position: absolute;
  left: 5px;
  top: 7px;
  &:hover {
    background-color: whitesmoke;
  }
  &:active {
    background-color: silver;
  }
}
