.item {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 2px 4px rgba(0, 0, 0, 0.4);
  transition: transform 200ms ease-in-out;
  &:hover {
    z-index: 999;
    cursor: pointer;
    transform: scale(1.1);
  }
}

.img {
  object-fit: cover;
}
