.btn {
  cursor: pointer;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: none;
}

.img {
  max-width: 95%;
  max-height: 95%;
}

.svg {
  width: 25px;
  height: 25px;
}
