.btn {
  width: 20%;
  display: block;
  outline: none;
  box-shadow: none;
  background-color: silver;
  border: solid 1px gray;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 50px auto;
  &:active {
    outline: solid 1px orange;
  }
  &:hover {
    background-color: rgb(208, 208, 208);
  }
}
